* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:linear-gradient(to bottom, #121215,#1e2028, #383a4c, #565973, #717798);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
nav {
  padding: 64px;
}
.memorias {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
  margin-bottom: 64px;

}
.memorias small {
  color: rgb(255, 195, 127);
  font-size: 12px;
}
.memorias h2 {
  font-size: 32px;
  color: #ffffff;
}
.memorias img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.memorias p {
  font-size: 18px;
  color: #f0fada;
  line-height: 28px;
}
.fim {
  text-align: center;
}
